.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    position: relative;

    background-image: url(../imeges/Icon-Phone-call-svg.svg);

    &::before {
      content: "+1 234 555-55-55";
      position: absolute;
      right: 40px;
      top: 50%;
      transform: translateY(-50%);
      white-space: nowrap;

      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s;
    }
    &:hover::before {
      opacity: 1;
    }
  }

  &--menu {
    background-image: url(../imeges/Icon-Burger-menu-svg.svg);

    &:hover {
      background-image: url(../imeges/Icon-Burger-menu-hover-svg.svg);
    }
  }

  &--close {
    background-image: url(../imeges/Icon-Close.svg);
  }
}
