.page__body:has(.menu:target) {
  overflow: hidden;
}

.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #f9f9f9;
  overflow-y: auto;

  &__nav {
    margin-bottom: 40px;
  }

  &__top {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f9f9f9;

    margin-bottom: 32px;

    @include on-tablet {
      margin-bottom: 0;
    }
  }

  &__phone-number {
    color: inherit;
    text-decoration: none;
    display: block;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__call-to-order {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid main-text-color;
    width: fit-content;
    display: block;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
